.resultsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 var(--warm-grey-75);
    border: solid 1px var(--gainsboro);
    background-color: #fff;
    min-height: 522px;
    position: relative;/*nao precisraia*/
    min-width: 300px;
    max-width: 500px;
  } 

  .resultsItemsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;  /*ocupa todo o espao e na logica eu coloco se é pra ir pro centro ou se é pra ficar no meio */
    position: relative; /*nao precisraia*/
  } 
