.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  border-radius: 4px;
  overflow: auto;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.value {
  font-size: 14px;
  overflow: hidden;
}

.hiddenOnCollapse {
  display: flex;
}

@media (max-width: 700px) {
  .hiddenOnCollapse {
    display: none;
  }
}